<div class="flex h-screen w-full items-center justify-center">
	<div class="flex h-4/6 w-11/12 max-w-2xl flex-col items-center justify-center space-y-5 rounded-lg p-5 text-center shadow-xl lg:h-1/2 lg:w-1/2 lg:p-10">
		<span class="icon-[tabler--hand-stop] mb-5 size-60 text-red-400"></span>

		<h2 class="mb-5 text-4xl font-semibold">No autorizado</h2>

		<p class="mb-5 text-xl lg:text-2xl">Al parecer no tienes permisos para acceder a esta ruta.</p>

		<a class="btn btn-primary" [routerLink]="['/']">Ir al inicio</a>
	</div>
</div>
