@if (isLoading()) {
	<div class="skeleton skeleton-animated mb-5 h-9 w-full"></div>
} @else {
	<div class="flex items-center justify-end">
		<button type="button" class="--prevent-on-load-init btn btn-success mb-5" aria-haspopup="dialog" aria-expanded="false" aria-controls="role-form-modal" (click)="openRoleFormModal(null)"><span class="icon-[tabler--circle-plus]"></span> Nuevo rol</button>
	</div>
}

@if (isLoading()) {
	<div class="skeleton skeleton-animated h-96 w-full"></div>
} @else {
	<div class="w-full rounded-lg border border-base-content/25">
		<div class="overflow-x-auto">
			<table class="table rounded">
				<thead>
					<tr class="border-0 bg-base-300">
						<th>Nombre</th>

						<th>Opciones</th>

						<th>Estado</th>

						<th class="rounded-e-lg">Acciones</th>
					</tr>
				</thead>

				<tbody>
					@for (role of roles(); track $index) {
						<tr class="hover">
							<td class="text-nowrap">{{ role.name }}</td>

							<td class="text-nowrap">
								<ul class="w-96 divide-y divide-base-content/25 rounded-md border border-base-content/25 *:p-3 first:*:rounded-t-md last:*:rounded-b-md">
									@for (roleOption of role.roleOptions; track $index) {
										<li>{{ roleOption.name }}</li>
									}
								</ul>
							</td>

							<td>
								@switch (role.status) {
									@case (status.Active) {
										<span class="badge badge-success badge-soft text-xs">ACTIVO</span>
									}
									@case (status.Delete) {
										<span class="badge badge-error badge-soft text-xs">ELIMINADO</span>
									}
								}
							</td>

							<td>
								<button type="button" class="btn btn-circle btn-warning btn-text btn-sm" (click)="openRoleFormModal(role.id)"><span class="icon-[tabler--pencil] size-5"></span></button>

								@if (role.status !== status.Delete) {
									<button type="button" class="btn btn-circle btn-error btn-text btn-sm" aria-label="Action button" (click)="openDeleteRoleModal(role.id)"><span class="icon-[tabler--trash] size-5"></span></button>
								}
							</td>
						</tr>
					} @empty {
						<tr>
							<td colspan="9" class="h-20 text-center">No se encontraron registros.</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}

<app-role-form #roleFormModal (onClose)="onCloseRoleForm($event)" />

<app-confirmation-modal #deleteRoleModal (onConfirmation)="onConfirmation($event)" />
