<aside id="sidebar-overlay" class="overlay drawer drawer-start hidden h-screen max-w-64 overlay-open:translate-x-0 lg:static lg:z-0 lg:h-full lg:w-52 lg:translate-x-0 lg:border-r lg:border-r-base-content/25 lg:shadow-none lg:hidden" role="dialog" tabindex="-1">
	<div class="drawer-header border-b border-b-base-content/25 lg:hidden lg:border-none">
		<app-logo />
	</div>

	<div class="drawer-body px-2 pt-4">
		<ul class="menu p-0">
			<li>
				<a data-overlay="#sidebar-overlay" [routerLink]="['/']"> <span class="icon-[tabler--home] size-5"></span> Inicio </a>
			</li>

			<li>
				<a data-overlay="#sidebar-overlay" [routerLink]="['/dashboard']"> <span class="icon-[tabler--user] size-5"></span> Dashboard </a>
			</li>

			<li>
				<a data-overlay="#sidebar-overlay" [routerLink]="['/users']"> <span class="icon-[tabler--user] size-5"></span> Usuarios </a>
			</li>
		</ul>
	</div>
</aside>

<aside class="hidden h-screen max-w-64 overlay-open:translate-x-0 lg:static lg:z-0 lg:flex lg:h-full lg:w-52 lg:translate-x-0 lg:border-r lg:border-r-base-content/25 lg:shadow-none" tabindex="-1">
	<div class="drawer-body px-2 pt-4">
		<ul class="menu p-0">
			<li>
				<a [routerLink]="['/']"> <span class="icon-[tabler--home] size-5"></span> Inicio </a>
			</li>

			<li>
				<a [routerLink]="['/dashboard']"> <span class="icon-[tabler--user] size-5"></span> Dashboard </a>
			</li>

			<li>
				<a [routerLink]="['/users']"> <span class="icon-[tabler--user] size-5"></span> Usuarios </a>
			</li>
		</ul>
	</div>
</aside>
