<aside id="sidebar-overlay" class="overlay drawer drawer-start z-[101] hidden h-screen max-w-64 overlay-open:translate-x-0 lg:static lg:z-0 lg:hidden lg:h-full lg:w-52 lg:translate-x-0 lg:border-r lg:border-r-base-content/25 lg:shadow-none" role="dialog" tabindex="-1">
	<div class="drawer-header border-b border-b-base-content/25 lg:hidden lg:border-none">
		<app-logo />
	</div>

	<div class="drawer-body px-2 pt-4">
		<ul class="menu p-0">
			@if (isLoading()) {
				@for (item of [].constructor(3); track $index) {
					<div class="skeleton skeleton-animated h-10 w-full"></div>
				}
			} @else {
				@for (roleOption of roleOptions(); track $index) {
					<li>
						<a data-overlay="#sidebar-overlay" [routerLink]="[roleOption.link]"> {{ roleOption.name }} </a>
					</li>
				}
			}
		</ul>
	</div>
</aside>

<aside class="hidden h-screen max-w-64 overlay-open:translate-x-0 lg:static lg:z-0 lg:flex lg:h-full lg:w-52 lg:translate-x-0 lg:border-r lg:border-r-base-content/25 lg:shadow-none" tabindex="-1">
	<div class="drawer-body px-2 pt-4">
		<ul class="menu p-0">
			@if (isLoading()) {
				@for (item of [].constructor(3); track $index) {
					<div class="skeleton skeleton-animated h-10 w-full"></div>
				}
			} @else {
				@for (roleOption of roleOptions(); track $index) {
					<li>
						<a [routerLink]="[roleOption.link]"> {{ roleOption.name }} </a>
					</li>
				}
			}
		</ul>
	</div>
</aside>
