<nav class="navbar sticky top-0 z-[50] h-16 border-base-content/25 bg-base-100 max-sm:rounded-box max-sm:shadow lg:border-b">
	<button type="button" class="btn btn-text me-2 max-sm:btn-square lg:hidden" aria-haspopup="dialog" aria-expanded="false" aria-controls="sidebar" data-overlay="#sidebar-overlay">
		<span class="icon-[tabler--menu-2] size-5"></span>
	</button>

	<div class="flex items-center">
		<a class="link link-neutral flex items-center gap-2 text-xl font-semibold text-base-content no-underline" [routerLink]="['/']">
			<app-logo />
		</a>
	</div>

	<div class="navbar-end flex flex-1 items-center gap-4">
		<div class="hidden items-center gap-3 sm:inline-flex">
			<div class="flex flex-col items-end">
				<a class="text-lg font-semibold text-base-content" [routerLink]="['/users/user']">{{ names() }} {{ surnames() }}</a>

				<small class="text-base-content/50">
					<button type="button" class="underline" (click)="signOut()">Cerrar sesión</button>
				</small>
			</div>

			<div class="avatar">
				<div class="size-9.5 rounded-full">
					<div class="avatar placeholder">
						<div class="size-9.5 rounded-full bg-neutral text-neutral-content">
							<span class="text-lg uppercase">{{ names().charAt(0) }}{{ surnames().charAt(0) }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="inline-flex items-center gap-3 sm:hidden">
			<div class="dropdown relative inline-flex rtl:[--placement:bottom-end]">
				<div class="dropdown-toggle avatar" id="dropdown-shortcuts" type="button" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
					<div class="size-9.5 rounded-full">
						<div class="avatar placeholder">
							<div class="size-9.5 rounded-full bg-neutral text-neutral-content">
								<span class="text-lg uppercase">{{ names().charAt(0) }}{{ surnames().charAt(0) }}</span>
							</div>
						</div>
					</div>
				</div>

				<ul class="dropdown-menu hidden min-w-60 dropdown-open:opacity-100" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-shortcuts">
					<li>
						<a class="dropdown-item justify-between" [routerLink]="['/users/user']"> {{ names() }} {{ surnames() }} </a>
					</li>
					<li>
						<button type="button" class="dropdown-item justify-between" (click)="signOut()">Cerrar sesión</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
