<app-navbar [isLoading]="isLoading()" [names]="names()"  [surnames]="surnames()" (onSignOut)="onSignOut()"/>

<div class="lg:flex lg:h-[calc(100vh-64px)] lg:items-stretch">
	<app-sidebar [isLoading]="isLoading()" [roleOptions]="roleOptions()" />

	<div class="mx-auto flex-1 overflow-y-auto p-5 md:p-15 lg:h-[calc(100vh-64px)]">
		@if (title() !== "") {
			<h2 class="my-10 text-4xl font-bold">{{ title() }}</h2>
		}

		@if (isLoading()) {
			<div class="skeleton skeleton-animated h-32 w-full"></div>
		} @else {
			<router-outlet />
		}
	</div>
</div>
